.title{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding: 15px 0 15px 0;
  width: 90%;
  margin: 0 auto;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
.menu-wrapper, .head, a, .nav__item{
  background: #F09C2E;
}
a:hover, .nav__item:hover{
  color: #F09C2E;
}
.content-wrapper{
  margin: 20px auto;
  font-size: 20px;
}
.part{
  display: flex;
  flex-wrap: wrap;
}
.content{
  width: 90%;
  margin: 30px auto;
}