.block{
  margin: 30px;
  padding: 30px;
  width: 300px;
  height: 300px;
  background: #ddd;
}
.svg{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.svg-1{
  background: url("../img/shit.svg")no-repeat center/cover;
}
.svg-2{
  background: url("../img/time.svg")no-repeat center/cover;
}
.svg-3{
  background: url("../img/krest.svg")no-repeat center/cover;
}
.svg-4{
  width: 50px;
  height: 50px;
  background: url("../img/target.svg")no-repeat center/cover;
}
.text{
  text-align: center;
  padding-top: 12px;
  margin: auto;
  font-size: 18px;
  width: 200px;
  height: 300px;
  border-top: 2px solid #111;
}