.title{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding: 15px;
  width: 90%;
  margin:  auto;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
.content-wrapper{
  width: 100%;
  margin: 15px auto;
  font-size: 20px;
}
.part{
  display: flex;
  flex-wrap: wrap;
}
.content{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px; 
}
.anim{
  margin:  0 auto;
  width: 200px;
  height: 200px;
  border: 2px solid #000;
}