*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: Montesuma;
  src: url("../fonts/Montesuma.ttf");
}
.logo{
  font-family: Montesuma;
  color:  #fff;
  font-size: 40px;
  cursor: default;
  text-align: center;
}
.page-wrapper{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.menu-wrapper{
  height: 100%;
  width: 25%;
  position: fixed;
  background: #95DF8E;
  padding-top: 5%;
}
.menu-1{ 
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30%;
}
.info-wrapper{
  padding: 1.5% 1% 1.5% 26%;
  color: #000;
  width: 100%;
  background: #fff;
  max-height: 100%;
}
.info{
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  background: #eee;
  width: 100%;
}
.logo:hover{
  text-shadow: 3px 3px 3px #000;
}
li{
  list-style:none;
  width: 100%;
}
ul{
  width: 100%;
}
a{
  display: flex;
  height:50px;
  text-transform:uppercase;
  font-size:16px;
  align-items: center;
  justify-content: center;
  text-decoration:none;
  color: #fff;
  background: #95DF8E;
}
a:hover{
  color: #95DF8E;
  background: #fff;
}
.block{
  margin: 30px;
  padding: 30px;
  width: 300px;
  height: 300px;
  background: #ddd;
}
.svg{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.svg-1{
  background: url("../img/shit.svg")no-repeat center/cover;
}
.svg-2{
  background: url("../img/time.svg")no-repeat center/cover;
}
.svg-3{
  background: url("../img/krest.svg")no-repeat center/cover;
}
.svg-4{
  width: 50px;
  height: 50px;
  background: url("../img/target.svg")no-repeat center/cover;
}
.text{
  text-align: center;
  padding-top: 12px;
  margin: auto;
  font-size: 18px;
  width: 200px;
  height: 300px;
  border-top: 2px solid #111;
}
.menu-mobile{
  display: none;
  max-width: 900px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: #fff;
  list-style: none;
}
.head{
  height: 55px;
  background-color: #95DF8E;
  position: relative;
}
.nav{
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
}
.nav__item{
  display: block;
  height: 56px;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #85Da8a;
}
.nav__item{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.nav__item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__item:hover {
  background-color: #fff;
  color: #52c136;
  cursor: pointer;
}
.nav-burger {
  display: block;
  width: 25px;
  height: 23px;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  background: url("../img/icon-menu.svg") no-repeat;
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 1;
}
.nav-burger__checkbox {
  display: none;
}
.nav-burger__checkbox:checked + .nav-burger {
  background-image: url("../img/icon-cross.svg");
}
.nav-burger__checkbox:checked ~ .nav {
  display: block;
}
@media screen and (max-width: 900px){
  .logo{
    text-align: left;
    margin-left: 20px;
  }
  .page-wrapper{
    background: #eee; 
  }
  .info{
    padding-bottom: 60px ;
  }
  .info-wrapper{
    padding: 0; 
  }
  .menu-wrapper{
    display: none;
  }
  .menu{
    display: none;
  }
  .menu-mobile{
    display: block;
  }
}