*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.theme{
  text-align: center;
  font-size: 28px;
  padding: 30px;
  font-weight: 600;
}
.logo{
  font-family: 'Comfortaa', arial;
  color:  #fff;
  font-size: 38px;
  cursor: default;
  text-align: center;
  transition: text-shadow 0.8s 0.1s ease-in;
}
.logo:hover{
  text-shadow: 0 0 25px #000;
}
.page-wrapper{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.menu-wrapper{
  height: 100%;
  width: 25%;
  position: fixed;
  background: #95DF8E;
  padding-top: 5%;
}
.menu{ 
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30%;
}
.info-wrapper{
  padding: 0 1% 0 26%;
  color: #000;
  width: 100%;
  background: #fff;
  max-height: 100%;
}
.info-main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info{
  min-height: 100vh;
  padding: 30px;
  background: #eee;
  width: 100%;
}
li{
  list-style:none;
  width: 100%;
}
ul{
  width: 100%;
}
a{
  display: flex;
  height:45px;
  text-transform:uppercase;
  font-size:15px;
  align-items: center;
  justify-content: center;
  text-decoration:none;
  color: #fff;
  background: #95DF8E;
}
a:hover{
  color: #95DF8E;
  background: #fff;
}
.menu-mobile{
  display: none;
  max-width: 900px;
  margin: 0 auto;
}
.head{
  height: 55px;
  background-color: #95DF8E;
  position: relative;
}
.nav{
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
}
.nav__item{
  display: block;
  height: 56px;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #85Da8a;
}
.nav__item{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.nav__item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__item:hover {
  background-color: #fff;
  color: #52c136;
  cursor: pointer;
}
.nav-burger {
  display: block;
  width: 25px;
  height: 23px;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  background: url("../img/icon-menu.svg") no-repeat;
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 1;
}
.nav-burger__checkbox {
  display: none;
}
.nav-burger__checkbox:checked + .nav-burger {
  background-image: url("../img/icon-cross.svg");
}
.nav-burger__checkbox:checked ~ .nav {
  display: block;
}

@media screen and (max-width: 900px){
  .logo{
    text-align: left;
    margin-left: 20px;
  }
  .page-wrapper{
    background: #eee; 
  }
  .info{
    padding-bottom: 60px ;
  }
  .info-wrapper{
    padding: 0; 
  }
  .menu-wrapper{
    display: none;
  }
  .menu{
    display: none;
  }
  .menu-mobile{
    display: block;
  }
}
